#map {
    height: 93%;
}

#descSection {
    height: 400px;
}

.searchItem:hover {
    background: grey;
}

#ulfirstSpiece, #ulsecondSpiece {
    position: absolute;
    z-index: +2;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}