#map {
    height: 85%;
}

#descSection {
    height: 400px;
}

.searchItem:hover {
    background: grey;
}

#ulfirstSpiece, #ulsecondSpiece {
    position: absolute;
    z-index: +2;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.input-field input[type=text]#firstSpiece {
    border-bottom: 1px solid #717171;
    box-shadow: 0 1px 0 0 #717171;
}

.input-field input[type=text]#secondSpiece {
    border-bottom: 1px solid #0277bd;
    box-shadow: 0 1px 0 0 #0277bd;
}

.margin0px {
    margin-bottom: 0px !important;
}

[v-cloak] {
  display: none;
}

#we {
    width: 200px;
    display: flex !important;
    flex-direction: row !important;
}
