<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geogene</title>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/style.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="grey lighten-3">
  <div class="row">
      <div class="col l3">
          <div class="row">
              <div class="col s12 white z-depth-2" style="margin-top: 10px;">
                  <p class="medium">GENETIC MARKER</p>
                  <div style="padding-bottom: 10px;">
                      <select class="browser-default">
                          <!--<option value="" disabled selected>Select genetic marker</option>-->
                          <option value="1">Vasa</option>
                          <option value="2">Cytochrome B</option>
                          <option value="3">Cytochrome C</option>
                          <option value="4" selected>EF1alpha</option>
                          <option value="5">COII</option>
                      </select>
                      <!--<label>Genetic marker</label>-->
                  </div>
              </div>
          </div>
          <div class="row">
              <div id="treeId" class="col l12 white z-depth-2">
                  <p>PHYLOGENETIC TREE</p>
                  <p id="treeSign" class="grey-text text-darken-2">Select three or more species to get a tree</p>
                  <div id="treeSpinner" class=" col l12 center" hidden>
                      <div class="preloader-wrapper active" style="margin-bottom: 10px;">
                          <div class="spinner-layer spinner-red-only">
                              <div class="circle-clipper left">
                                  <div class="circle"></div>
                              </div><div class="gap-patch">
                              <div class="circle"></div>
                          </div><div class="circle-clipper right">
                              <div class="circle"></div>
                          </div>
                          </div>
                      </div>
                  </div>
                  <div id="treeImg" hidden>
                      <img id="treeImgImg" width="800" src="" class="responsive-img materialboxed" />
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col l12 white z-depth-2">
                  <p>SPECIES</p>
                  <div id="speciesInput" class="input-field browser-default">
                      <label class="bold" for="firstSpiece">Start input species</label>
                      <input oninput="search(this.value, 'firstSpiece')" onblur="clearUl('firstSpiece')"  id="firstSpiece" type="text"/>
                      <ul id="ulfirstSpiece"></ul>
                  </div>
                  <p id="speciesError" class="grey-text text-darken-2" hidden>Only five animals!</p>
              </div>
          </div>

          <div v-cloak class="row" id="forSpieces">
              <div v-for="taxon in taxons">
                  <div :id="taxon.id"  style="margin-bottom: 5px;" class="col l12 white z-depth-2">
                      <div style="height: 75px; margin-top: 7px;" :class="taxon.color + ' col l2' "></div>
                      <div class="col l9">
                          <p style="margin-bottom: 0px;">{{ taxon.english_name }}</p>
                          <p class="grey-text accent-2">{{ taxon.latin_name }}</p>
                      </div>
                      <!--<div class="col l1">-->
                          <!--<i style="padding: 5px;" onclick="deleteAnimal(this)"  class="tiny material-icons">delete</i>-->
                      <!--</div>-->
                  </div>
              </div>
              <div id="delete" class="col l12 center" hidden style="margin-top: 15px;">
                  <button class="btn red accent-4" onclick="clearAll()">Clear all</button>
              </div>
              <!--<div id="delete" class="col l12 center white z-depth-2" hidden onclick="clearAll()"> Clear all-->
                  <!--<i style="padding: 5px;" class="tiny material-icons small">delete</i>-->
              <!--</div>-->
          </div>

      </div>
      <div class="col l9" style="padding: 0px;">
          <div class="col s12" id="map" style="height: 700px;"></div>
          <div style="padding: 0px;" class="col l12 white z-depth-2">
              <div v-cloak id="speciesTable">
                  <div id="we" v-for="taxon in taxons">
                      <div :id="taxon.id" class="spiecesElement"  style="margin-bottom: 5px; width: 200px; display: inline;">
                          <div :class="taxon.color"></div>
                          <div>
                              <h4>{{ taxon.english_name }}</h4>
                              <h5>{{ taxon.latin_name }}</h5>

                              <img :src="taxon.thumbnail_url" class="responsive-img">

                              <p>
                              <h3>Classification</h3>
                              <h6 v-if="taxon.taxonomy.kingdom">Kingdom: {{ taxon.taxonomy.kingdom }}</h6>
                              <h6 v-if="taxon.taxonomy.phylum">Phylum: {{ taxon.taxonomy.phylum }}</h6>
                              <h6 v-if="taxon.taxonomy.subphylum">Subphylum: {{ taxon.taxonomy.subphylum }}</h6>
                              <h6 v-if="taxon.taxonomy.class">Class: {{ taxon.taxonomy.class }}</h6>
                              <h6 v-if="taxon.taxonomy.order">Order: {{ taxon.taxonomy.order }}</h6>
                              <h6 v-if="taxon.taxonomy.family">Family: {{ taxon.taxonomy.family }}</h6>
                              <h6 v-if="taxon.taxonomy.genus">Genus: {{ taxon.taxonomy.genus }}</h6>
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

<script src="https://unpkg.com/vue"></script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8ceytJzS5je9WebT_pf3avncB92B0j7s&libraries=visualization,drawing&callback=initMap">
  </script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/googleMaps.js"></script>
<script type="text/javascript" src="js/script.js?1"></script>
</body>
</html>
